header.header
    .container
        .row
            .col-3
                .inner-logo.d-flex.justify-content-between.align-items-center
                    a(href="/") 
                        img(src=setting.logo, alt=setting.webSiteName, class="logo")
            
            .col-4
                .box-search 
                    form(action="/search/result", method="GET")
                        div(class='form-group d-flex ')
                            input(
                                type="text",
                                placeholder="Tìm kiếm bài hát, nghệ sĩ..."
                                class="form-control me-2"
                                name="keyword"
                                value=keyword
                            )
                            button(
                                type="submit"
                                class="btn btn-outline-primary"
                            ) 
                                i.fa-solid.fa-magnifying-glass

                    .inner-suggest
                        .inner-list 
                            //- a(href="/songs/detail/:slugSong" class="inner-item") 
                            //-     .inner-image 
                            //-         img(src="https://backend.daca.vn/assets/images/cat-doi-noi-sau.jpg", alt="Cover Image")
                            //-     .inner-info 
                            //-         .inner-title Cắt Đôi Nỗi Sầu
                            //-         .inner-singer 
                            //-             i.fa-solid.fa-microphone-lines 
                            //-             |  Tăng Duy Tân
                       
            .col-5
                .inner-menu.d-flex.justify-content-end.align-items-center
                    ul 
                        li 
                            a(href="/")
                                i.fa-solid.fa-house.me-2
                                |   Trang chủ
                        li
                            a(href="/topics")
                                i.fa-solid.fa-list.me-2
                                |   Chủ đề 
                        li
                            a(href="/favorite-songs")
                                i.fa-solid.fa-heart.me-2
                                |   Yêu thích
                        if(user)
                            li 
                                a(href="/users/info", class="icon-link")
                                    i.fa-solid.fa-user
                                    span.menu-text #{user.fullName}
                            li 
                                a(href="/users/logout", class="icon-link")
                                    i.fa-solid.fa-right-from-bracket
                                    span.menu-text Logout
                        else 
                            li 
                                a(href="/users/register", class="icon-link")
                                    i.fa-solid.fa-user-plus
                                    span.menu-text Register
                            li
                                a(href="/users/login", class="icon-link")
                                    i.fa-solid.fa-right-to-bracket
                                    span.menu-text Login