header.header
    .container
        .row
            .col-3
                .inner-logo.d-flex.justify-content-between.align-items-center
                    a(href="/") 
                        img(src="/images/logo.png", alt="Logo", class="logo")
            
            .col-4
                .box-search 
                    form(action="/search/result", method="GET")
                        div(class='form-group d-flex ')
                            input(
                                type="text",
                                placeholder="Tìm kiếm bài hát, nghệ sĩ..."
                                class="form-control me-2"
                                name="keyword"
                                value=keyword
                            )
                            button(
                                type="submit"
                                class="btn btn-outline-primary"
                            ) 
                                i.fa-solid.fa-magnifying-glass

                    .inner-suggest
                        .inner-list 
                            //- a(href="/songs/detail/:slugSong" class="inner-item") 
                            //-     .inner-image 
                            //-         img(src="https://backend.daca.vn/assets/images/cat-doi-noi-sau.jpg", alt="Cover Image")
                            //-     .inner-info 
                            //-         .inner-title Cắt Đôi Nỗi Sầu
                            //-         .inner-singer 
                            //-             i.fa-solid.fa-microphone-lines 
                            //-             |  Tăng Duy Tân
                       
            .col-5
                .inner-menu.d-flex.justify-content-end.align-items-center
                    ul 
                        li 
                            a(href="/")
                                i.fa-solid.fa-house.me-2
                                |   Trang chủ
                        li
                            a(href="/topics")
                                i.fa-solid.fa-list.me-2
                                |   Chủ đề 
                        li
                            a(href="/favorite-songs")
                                i.fa-solid.fa-heart.me-2
                                |   Yêu thích
