extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block style
    link(rel="stylesheet", href="/css/songs/detail.css")

block main 
    .main-content.singer-detail
        .container
            .row 
                .col-12 
                    .inner-title #{song.title}
                        
                    .inner-actions 
                        .inner-action.inner-time 
                            i(class="fa-solid fa-clock") 
                            |   3:45
                        .inner-action.inner-singer
                            i(class="fa-solid fa-microphone-lines")
                            |  #{singer.fullName}
                        .inner-action.inner-topic   
                            i(class="fa-solid fa-book") 
                            |   #{topic.title}
                        .inner-action.inner-listen 
                            i(class="fa-solid fa-headphones") 
                            span #{song.listen} lượt nghe
                        .inner-action.inner-like(button-like=song.id)
                            i(class="fa-solid fa-thumbs-up") 
                            span #{song.like} thích 
                        div(class=('inner-action inner-heart' + (isFavoriteSong ? " heart-active" : "")), button-favorite=song.id)
                            i(class="fa-solid fa-heart") 
                            |   bài hát yêu thích
                        
                    .inner-play 
                        .inner-avatar 
                            img(src=song.avatar, alt=song.title, class="rotating")
                        .inner-audio 
                            
                            div(
                                id="aplayer" 
                                data-song=song 
                                data-singer=singer 
                            )
                                
                                
                    .inner-desc 
                        .inner-label 
                            |   Mô tả bài hát
                        .inner-text 
                            |   !{song.description}

                    .inner-desc 
                        .inner-label 
                            |   Lời bài hát
                        .inner-text 
                            |!{song.lyrics}
